#gioithieu{
  background-color: pink;
  width: 100px;
}
#lienhe{
  background-color: pink;
  width: 100px;
}
#footer{
  background-color:pink;
  color: blue;
  margin-bottom: 80px;
  margin-left: 50px;
}
