body
{
  background-color: #FFEDCA;
}
#STT{
  text-align: center;
}
th{
  color: white;
  background-color: #CC6600;
}
#le{
  text-align: center;
  background-color: #FFFFFF;
}
#chan{
  text-align: center;
  background-color: #FFEDCA ;
}
